# Date, Time and Time Series
Pandas has 4 related classes. Timestamp, DatetimeIndex, Period and PeriodIndex

In [1]:
import pandas as pd
import numpy as np

## Timestamp

In [2]:
pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

In [5]:
 pd.Timestamp(2020, 12, 6, 0, 13, 45)

Timestamp('2020-12-06 00:13:45')

isoweekday()
+ 1 - Monday
+ 7 - Sunday

In [6]:
pd.Timestamp(1996,12,6,14,45,45).isoweekday() # Friday

5

In [71]:
pd.Timestamp(1996,12,1,14,45,45).isoweekday() # Sunday

7

In [72]:
pd.Timestamp(1996,12,2,14,45,45).isoweekday() # Monday

1

We can get year, month, day, hour, minute, second from timestamp

In [11]:
pd.Timestamp(1996,12,6,14,45,34).year

1996

In [12]:
pd.Timestamp(1996,12,6,14,45,34).day

6

## Period
its time span

In [13]:
pd.Period('1/2016')

Period('2016-01', 'M')

In [14]:
pd.Period('3/5/2015')

Period('2015-03-05', 'D')

where M & D are granularity

In [15]:
pd.Period('1/2016') + 5

Period('2016-06', 'M')

In [16]:
pd.Period('3/5/2015') - 2

Period('2015-03-03', 'D')

## DatetimeIndex & PeriodIndex

In [18]:
t1 = pd.Series(list('abc'), [pd.Timestamp('2016-09-01'), 
                             pd.Timestamp('2016-09-02'), 
                             pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

Note here Index is DatetimeIndex

In [19]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [20]:
t2 = pd.Series(list('def'), [pd.Period('2016-09'), 
                             pd.Period('2016-10'), 
                             pd.Period('2016-11')])
t2

2016-09    d
2016-10    e
2016-11    f
Freq: M, dtype: object

Note here Index is PeriodIndex

## Coneverting to Datetime

In [28]:
d1 = ['2 June 2013', 'Aug 29, 2016', '2015-06-26', '7/12/16']
t3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index = d1, 
                                    columns = list('ab'))
t3

               a   b
2 June 2013   21  79
Aug 29, 2016  16  37
2015-06-26    96  49
7/12/16       52  65

In [29]:
t3.index = pd.to_datetime(t3.index)
t3

             a   b
2013-06-02  21  79
2016-08-29  16  37
2015-06-26  96  49
2016-07-12  52  65

In [33]:
pd.to_datetime('4.7.12')

Timestamp('2012-04-07 00:00:00')

In [31]:
pd.to_datetime('4.7.12', dayfirst=True) # parsing can be changed

Timestamp('2012-07-04 00:00:00')

## Timedelta
difference's in time

In [36]:
pd.Timestamp('3/9/2016') - pd.Timestamp('1/9/2016')

Timedelta('60 days 00:00:00')

In [39]:
pd.Timestamp('9/2/2016 8:10PM') + pd.Timedelta('12D 3H')

Timestamp('2016-09-14 23:10:00')

## Offsets
Offset is similar to timedelta, but it follows specific calendar duration rules. Offset allows flexibility in terms of types of time intervals. Besides hour, day, week, month, etc it also has business day, end of month, semi month begin etc

In [40]:
pd.Timestamp('9/24/2015').weekday()

3

In [42]:
pd.Timestamp('9/24/2016') + pd.offsets.Week()

Timestamp('2016-10-01 00:00:00')

In [44]:
pd.Timestamp('9/24/2016') + pd.offsets.MonthEnd()
# adding offset such that we get month end

Timestamp('2016-09-30 00:00:00')

## Working with dates in DataFrame
Next, let's look at a few tricks for working with dates in a DataFrame. Suppose we want to look at nine measurements, taken bi-weekly, every Sunday, starting in October 2016. Using date_range, we can create this DatetimeIndex. In date_range, we have to either specify the start or end date. If it is not explicitly specified, by default, the date is considered the start date. Then we have to specify number of periods, and a frequency. Here, we set it to "2W-SUN", which means biweekly on Sunday

In [47]:
dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [50]:
# business-day
pd.date_range('2021-06-01', periods=9, freq='B')

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10',
               '2021-06-11'],
              dtype='datetime64[ns]', freq='B')

In [51]:
# quarterly and start of quarter as June
pd.date_range('04-01-2016', periods=12, freq='QS-JUN')

DatetimeIndex(['2016-06-01', '2016-09-01', '2016-12-01', '2017-03-01',
               '2017-06-01', '2017-09-01', '2017-12-01', '2018-03-01',
               '2018-06-01', '2018-09-01', '2018-12-01', '2019-03-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

In [92]:
dates = pd.date_range('06-13-2021', periods=7, freq='D')
dates
df = pd.DataFrame({'Numering':dates.weekday, 'Week Day Name':dates.day_name()}, index=dates)
df

            Numering Week Day Name
2021-06-13         6        Sunday
2021-06-14         0        Monday
2021-06-15         1       Tuesday
2021-06-16         2     Wednesday
2021-06-17         3      Thursday
2021-06-18         4        Friday
2021-06-19         5      Saturday

In [93]:
dates= pd.date_range('10-01-2016', periods=9, freq='2w-SUN')
df = pd.DataFrame({'Count 1':100+np.random.randint(-5,10,9).cumsum(),
                   'Count 2':100+np.random.randint(-5,10,9).cumsum()}, index=dates)
df

            Count 1  Count 2
2016-10-02      109      102
2016-10-16      105      106
2016-10-30      106      101
2016-11-13      101      100
2016-11-27       97      106
2016-12-11       93      108
2016-12-25       90      113
2017-01-08       94      122
2017-01-22       94      119

In [94]:
df.index.weekday

Int64Index([6, 6, 6, 6, 6, 6, 6, 6, 6], dtype='int64')

In [95]:
df.index.dayofweek

Int64Index([6, 6, 6, 6, 6, 6, 6, 6, 6], dtype='int64')

In [96]:
df.index.day_name()

Index(['Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday',
       'Sunday', 'Sunday'],
      dtype='object')

In [97]:
df.diff() 
# diff() - Calculates the difference of a Dataframe element compared with another
# element in the Dataframe (default is element in previous row).

            Count 1  Count 2
2016-10-02      NaN      NaN
2016-10-16     -4.0      4.0
2016-10-30      1.0     -5.0
2016-11-13     -5.0     -1.0
2016-11-27     -4.0      6.0
2016-12-11     -4.0      2.0
2016-12-25     -3.0      5.0
2017-01-08      4.0      9.0
2017-01-22      0.0     -3.0

In [98]:
# Suppose we want to know what the mean count is for each month in our DataFrame. We can do 
# this using resample. Converting from a higher frequency from a lower frequency is called
# downsampling.
df.resample('M').mean()

               Count 1  Count 2
2016-10-31  106.666667    103.0
2016-11-30   99.000000    103.0
2016-12-31   91.500000    110.5
2017-01-31   94.000000    120.5

In [99]:
df['2017'] # all values from df for that year

            Count 1  Count 2
2017-01-08       94      122
2017-01-22       94      119

In [100]:
df['2016-12'] # all values for month

            Count 1  Count 2
2016-12-11       93      108
2016-12-25       90      113

In [101]:
df['2016-12':] # all values onwards Dec 2016

            Count 1  Count 2
2016-12-11       93      108
2016-12-25       90      113
2017-01-08       94      122
2017-01-22       94      119