# Python Functions

A programming language is said to have First-class functions when functions in that language are treated like any other variable.
First Class functions in Python
First class objects in a language are handled uniformly throughout. They may be stored in data structures, passed as arguments, or used in control structures. A programming language is said to support first-class functions if it treats functions as first-class objects. Python supports the concept of First Class functions.
Properties of first class functions:
A function is an instance of the Object type.
You can store the function in a variable.
You can pass the function as a parameter to another function.
You can return the function from a function.
You can store them in data structures such as hash tables, lists, â€¦

In [1]:
x = 4
y = 8
x + y

12

In [2]:
def add_num(a,b):
    return a+b
add_num(x,y)

12

In [4]:
type(add_num)

function

#### One can use default parameters and hence we can use same function for 2 or 3 variables

In [3]:
def add_2or3nums(a,b,z=0):
    return a+b+z
print(add_2or3nums(x,y))
print(add_2or3nums(x,y,4))

12
16

# Python Types and Sequences

### Types -

In [5]:
type('Shubham')

str

In [6]:
type(8)

int

In [7]:
type(6.8)

float

In [8]:
def add_numbers(a,b):
    return a+b
type(add_numbers)            # function is also type

function

In [9]:
y = (8, 'a', '9.9', 9.9)     # tuples - immutable
y

(8, 'a', '9.9', 9.9)

In [10]:
type(y)

tuple

### List -

In [11]:
y = [8, 'a', '9.9', 9.9]     # list - mutable
y

[8, 'a', '9.9', 9.9]

In [12]:
type(y)

list

In [13]:
for i in y:     # traversing through list using for
    print(i)

8
a
9.9
9.9

In [14]:
i = 0
while( i != len(y)):      # traversing through list using while
    print(y[i])
    i += 1

8
a
9.9
9.9

In [15]:
['f', 6] + [9, 8.7]      # list addition

['f', 6, 9, 8.7]

In [16]:
[7, 6, 'm'] * 4          # list multiplication

[7, 6, 'm', 7, 6, 'm', 7, 6, 'm', 7, 6, 'm']

In [17]:
8 in ['f', 6, 9, 8.7]    # in operator

False

In [18]:
8.7 in ['f', 6, 9, 8.7]    # in operator

True

### String -

In [19]:
x = 'All string in python are list of characters'
print(x[0])
print(x[0:1])
print(x[0:2])
print(x[-1])
print(x[-3])

A
A
Al
s
e

#### though -ve indexing starts from right to left. strings are always read from left to right whether index is +ve or -ve as step is 1 by default-
in below example it won't print anything as -10 is to left side of -8 and as step is 1 by default

In [20]:
 print(x[-7:-10])     # will not error out and also will not print anything

In [21]:
print(x[-7:-10:-1])    # when step is -1 it will read from right

rah

In [22]:
print(x[::-1])   # string reverse

sretcarahc fo tsil era nohtyp ni gnirts llA

In [23]:
fname = 'shubham'
lname = 'farande'
print(fname + lname)
print(fname*3)
print(fname in fname + lname)

shubhamfarande
shubhamshubhamshubham
True

In [24]:
fname = 'My 1st name is shubham'.split(' ')[-1]
lanme = 'farande is my last name'.split(' ')[0]
print(fname + ' ' + lname)

shubham farande

### Dictionary -

In [25]:
x = {'key1':'value1', 'key2':'value2', 'a':1}

In [26]:
x['key1']

'value1'

#### Different ways of iterating over dictionary :

In [27]:
for key in x:     # using keys
    print(x[key])

value1
value2
1

In [28]:
for value in x.values():    # using values
    print(value)

value1
value2
1

In [29]:
for key, value in x.items():    # directly iterating over dictionary
    print(str(key) + ' : ' + str(value))

key1 : value1
key2 : value2
a : 1

### Tuple -
Tuple unpacking

In [30]:
fname, lname, course = ('shubham', 'farande', 'Data Science in Python')

In [31]:
print(fname)
print(lname)
print(course)

shubham
farande
Data Science in Python

# More on Python Strings

#### In Python3 strings are unicode based

In [32]:
print('abc' + 1)   # TypeError

TypeError: can only concatenate str (not "int") to str

In [33]:
print('abc' + str(1))  # int converting to string

abc1

In [34]:
sales_record = {'name':'Shubham', 'price':6.8, 'unit':10}
my_str = '{} bought {} units at price {} for each unit.Thus {}\'s total spendings are {}'
print(my_str.format(sales_record['name'],sales_record['unit'], 
                    sales_record['price'],sales_record['name'],
                    sales_record['price']*sales_record['unit']))

Shubham bought 10 units at price 6.8 for each unit.Thus Shubham's total spendings are 68.0

# Python - Reading and Writing CSV files

<br>
Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [2]:
import csv
%precision 2

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

mpg[:2]

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'}]

In [3]:
len(mpg)

234

In [4]:
mpg[0].keys()

dict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [5]:
sum(float(d['cty']) for d in mpg) / len(mpg)    # avg cty mpg

16.86

In [7]:
sum(float(d['hwy']) for d in mpg) / len(mpg)    # avg hwy mpg

23.44

#### City Avg per Cylinder -

In [45]:
cty_per_cyl = dict()
for d in mpg:
    if d['cyl'] in cty_per_cyl:
        cty_per_cyl[d['cyl']][0] = float(d['cty']) + cty_per_cyl[d['cyl']][0]
        cty_per_cyl[d['cyl']][1] += 1
    else:
        cty_per_cyl[d['cyl']] = [float(d['cty']), 1]
cty_per_cyl

{'4': [1702.00, 81], '6': [1281.00, 79], '8': [880.00, 70], '5': [82.00, 4]}

In [46]:
list_cty_per_cyl = []
for k in cty_per_cyl.keys():
    cty_per_cyl[k] = cty_per_cyl[k][0] / cty_per_cyl[k][1]
    list_cty_per_cyl.append((k,cty_per_cyl[k]))
cty_per_cyl = list_cty_per_cyl
cty_per_cyl.sort(key = lambda x:x[0])
cty_per_cyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

#### Highway Avg per Class -

In [53]:
hwy_per_class = dict()
for d in mpg:
    if d['class'] in hwy_per_class:
        hwy_per_class[d['class']][0] = hwy_per_class[d['class']][0] + float(d['hwy'])
        hwy_per_class[d['class']][1] += 1
    else:
        hwy_per_class[d['class']] = [float(d['hwy']),1]
hwy_per_class

{'compact': [1330.00, 47],
 'midsize': [1119.00, 41],
 'suv': [1124.00, 62],
 '2seater': [124.00, 5],
 'minivan': [246.00, 11],
 'pickup': [557.00, 33],
 'subcompact': [985.00, 35]}

In [54]:
list_hwy_per_class = []

for k in hwy_per_class.keys():
    hwy_per_class[k] = hwy_per_class[k][0] / hwy_per_class[k][1]
    list_hwy_per_class.append((k, hwy_per_class[k]))
list_hwy_per_class.sort(key = lambda x : x[1])
hwy_per_class = list_hwy_per_class
hwy_per_class

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

# Python - Date and Time

In [55]:
import datetime as dt
import time as tm

In [56]:
tm.time()

1615711186.28

In [57]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2021, 3, 14, 14, 10, 54, 339233)

In [59]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second, dtnow.microsecond

(2021, 3, 14, 14, 10, 54, 339233)

In [66]:
delta = dt.timedelta(days=98)
delta

datetime.timedelta(days=98)

In [67]:
today = dt.date.today()
today

datetime.date(2021, 3, 14)

In [71]:
today - delta

datetime.date(2020, 12, 6)

In [72]:
today > today - delta

True

# Python - Objects and map()
Classes in python are named using camel casing - 1st letter of each word is capitalized

In [75]:
class Person:
    planet = 'Earth'
    
    def __init__(self):      # used for initialization
        pass
    
    def set_name(self, new_name):
        self.name = new_name
    
    def set_location(self, new_location):
        self.location = new_location

In [77]:
person  = Person()
person.set_name('Shubham')
person.set_location('India')
print(f'{person.name} lives in {person.location} on {Person.planet}')

Shubham lives in India on Earth

#### map() is one of the example of Functional Programming of Python

In [92]:
nums1 = [4, 2, 5, 9, 8]
nums2 = [1, 4, 0, -1]
mini = map(min, nums1, nums2)   # this will compare each elements of iterable
mini

as you can see a map type object was returned and it didn't executed min on those lists this is known as lazy evaluation feature of python. min will not run unless and until we want it to by iterating over map. This helps in efficient memory management in big data.

In [93]:
for m in mini:
    print(m)     # note comparison was done only till 1 of iterable was exhausted

1
2
0
-1

# Python - Lambda
lambda is anonymus function (without name) and generally created when we have to create function with only 1 line
retrun of lambda is function reference

In [94]:
my_func = lambda a, b, c=0 : a+b+c

In [95]:
my_func(5, 6)

11

In [97]:
my_func(4, 6, 2)

12

# Python - List Comprehensions

In [100]:
my_list = []

for i in range(1,21):
    if i % 2 == 0:
        my_list.append(i)

my_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [101]:
[i for i in range(1,21) if i % 2 == 0]  # list comprehension

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]